<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Öneri ve Şikayeleri İncele</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/pricing/">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/employeedashboard.css">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/employeedashboard.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <img src="/images/asat.jpg" width="25" height="25" style="margin-inline: 1%;">

        <h5 class="my-0 mr-md-auto font-weight-normal">Öneri ve Şikayetler</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark">Hesabım</a>
            <a class="p-2 text-dark" href="/logout">Çıkış Yap</a>
        </nav>
    </div>

  

    <div class="container mt-5">
        <div class="card-deck mb-3 text-center mt-3">

            <!-- faturalar card
            TODO: for'a alınacak !!-->

            <% for (istek of istekS) { %>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">İstek</h4>
                    </div>
                    <div class="card-body">
                   
                        <% if(istek){ %>

                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">İstekte Bulunan : <%=istek.isimR%> <%=istek.soyisimR%></h6>
                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">İletişim Bilgisi : <%=istek.phonenumberR%></h6>
                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">Mail Adres :  <%=istek.mailR%></h6>
                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">İstek : <%=istek.oneri%></h6>

                        <% } %>
                    </div>
                </div> 

                <% } %>

                <% for (sikayet of sikayetS) { %>

                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Şikayet</h4>
                        </div>
                        <div class="card-body">
                    
                        <% if(sikayet){ %>

                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">Şikayette Bulunan : <%=sikayet.isimS%> <%=sikayet.soyisimS%></h6>
                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">İletişim Bilgisi : <%=sikayet.phonenumberS%></h6>
                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">Mail Adres :  <%=sikayet.mailS%></h6>
                            <h6 class="mb-2" style="color: rgb(70, 65, 65);">Şikayet : <%=sikayet.sikayet%></h6>

                        <% } %>

                    </div>
                </div> 
                <% } %>
       

        

                    <!--TODO: for bitiş-->
        </div>

        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>

    </div>

</body>

</html>